.CourseIcon {
  width: 20px;
  height: 20px;
  background:white;
  border: 6px solid #B9B9B9;
  box-sizing: border-box;
}

.CourseIconActive {
  border-color: #818181;
  background-color: #B9B9B9;
}

.LearnIcon {
  border-radius: 10px;
}

.PracticeIcon {
  border-radius: 4px;
}

.Incorrect {
  border-color: #FFBEA1;
}

.Correct {
  border-color: #AAFFB2;
}

.Default {
  border-color: #B2DAFF;
}

.IncorrectActive {
  background-color: #FFBEA1;
  border-color: #FF4D00;
}

.CorrectActive {
  background-color: #AAFFB2;
  border-color: #00D315;
}

.DefaultActive {
  background-color: #B2DAFF;
  border-color: #2596FF;
}
