
.Container{
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */

  background: #FFFFFF;
  /* outline-strong */
  border: 2px solid #000000;
  box-sizing: border-box;
  /* drop-shadow-graphic */
  box-shadow: 2px 4px 0px #000000;
  border-radius: 10px;

   /* subheading */
   font-family: Lato;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   /* identical to box height */
   text-align: left;
   padding: 20px;
 
}

.Header{
  /* Rectangle 6 */
  position: relative;
  left: 0%;
  top: 0%;
  /* transform: translate(0, -60%); */

  /* correct-strong */
  background: #00D315;
  /* outline-strong */
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;

  /* subheading */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: left;

  /* white */
  color: #FFFFFF;
}

.CloseModal{
  /* close-modal-button */
  position: relative;
  left: 92.92%;
  right: 2.71%;
  top: 6%;
  bottom: 83.5%;



  /* Rectangle 7 */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* correct-strong */
  background: #00D315;
  /* correct-light */
  border: 1.5px solid #AAFFB2;
  box-sizing: border-box;
  border-radius: 3px;


  /* Vector */

  position: absolute;
  left: 14.29%;
  right: 14.29%;
  top: 14.29%;
  bottom: 14.29%;

  /* correct-light */
  background: #AAFFB2;
}
